body {
  background-size: cover;
  background-image: linear-gradient(to left , rgba(32, 55, 77, 0.8) 55%, rgba(58, 110, 109, 0.8)),  url("./iStock5.jpg"); 
  background-repeat: repeat-y;
}

.page-header{
  margin-top: 40px;
  margin-bottom: 20px;
  color:#ffc107;
}

.btn{
  margin-left: 10px;
}

.btnTask{
 display: inline-block;
}

.dropdown{
  margin-left: -9px;
}

.addform{
  margin-top: 100px;
}

.btnAdd{
  width: 42%;
  margin-left: -17px;
}

.formTask{
  margin-top: 20px;
  margin-left: -35px;
  /* margin-bottom: 20px; */
}

.card{
  margin-top: 20px;
}

.sortcom{
  display: inline-block;
}

.action{
text-align: center;  
}